@use '@snack-uikit/figma-tokens-nachos/build/scss/styles-theme-variables.scss' as vars;
@use '@snack-uikit/figma-tokens-nachos/build/scss/brand.scss' as brands;

.light {
  @include brands.lightThemeMode;
}

.dark {
  @include brands.darkThemeMode;
}


html,
body {
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: vars.$sys-neutral-text-main;

  background: vars.$sys-neutral-background;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
